<%= render 'layouts/header' %>

<div class="row" id="dashboard-icon">
	<div class="col-md-3">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-warning fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%= RiskRegister.critical_risk_count %></div>
	                    <div><%= "Pending Critical Risks" %></div>
	                </div>
	            </div>
	        </div>
	        <a href="<%= critical_risks_path %>" data-toggle="modal">
	            <div class="panel-footer">
	                <span class="pull-left">View Details</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="panel panel-green">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-search fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
						<div class="huge">20</div>
						<div>Advance Search</div>
	                </div>
	            </div>
	        </div>
	        <a href="#" target="_blank" data-toggle="modal">
	            <div class="panel-footer">
	                <span class="pull-left">Query</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="panel panel-yellow">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-file-text fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%= RiskRegister.critical_risk_count %></div>
	                    <div><%= "Generate Report" %></div>
	                </div>
	            </div>
	        </div>
	        <a href="#" data-toggle="modal">
	            <div class="panel-footer">
	                <span class="pull-left">Report</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="panel panel-red">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-trash fa-5x"></i>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div class="huge"><%= RiskRegister.off_target_risk_count %></div>
	                    <div>Off Target Risks</div>
	                </div>
	            </div>
	        </div>
	        <a href="<%= off_target_risks_path %>" data-toggle="modal">
	            <div class="panel-footer">
	                <span class="pull-left">View Details</span>
	                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                <div class="clearfix"></div>
	            </div>
	        </a>
	    </div>
	</div>
</div>