<h1 class="welcome text-center">Welcome to <br> NRMS</h1>
<div class="card card-container">
  <h2 class='login_title text-center'>Login</h2>
  <hr>
  <div class="form-signin">
  	<%= form_for(:session, url: login_path) do |f| %>
      <% if notice %>
      	<p class="text-danger text-center bg-danger"><%= notice %></p>
      <% end %>
      <p class="input_title">Email</p>
      <%= f.text_field :email, class: "login_box", placeholder: "email", required: true  %>
      <p class="input_title">Password</p>
      <%= f.password_field :password, class: "login_box", placeholder: "******", required: true  %>
      <%= f.submit "Login", class: "btn btn-lg btn-primary" %>
  	<% end %><!-- /form -->
  </div>
</div>