<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Project</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.designation.name %></td>
        <td><%= user.department %></td>
        <td><%= user.project.name %></td>
        <td>
          <%= link_to 'Show', user %>&nbsp;
          <%= link_to 'Edit', edit_user_path(user) %>&nbsp;
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
