<%= render 'layouts/header', title: "Users" %>
<p><%= link_to 'New User', new_user_path, class: "btn btn-primary" %></p>
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Project</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.designation.name %></td>
        <td><%= user.department %></td>
        <td><%= user.project.name %></td>
        <td><%= check_user_role(user.role) %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>&nbsp;
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } unless check_sysadmin_corporate_rm?(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>