<div class="row">
  <div class="col-lg-8 col-sm-12 col-md-10">
    <%= render 'layouts/header', title: "Projects" %>
    
    <p><%= link_to 'New Project', new_project_path, class: "btn btn-primary" %></p>
    
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-sm-4">Name</th>
          <th class="col-sm-6">Full Name & Location</th>
          <th class="col-sm-2">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.full_name %></td>
            <td>
              <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_project_path(project) %>&nbsp;
              <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>
    



