<%= simple_form_for([@project, @risk_register]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4"><%= f.input :responsible_officer %></div>
      <div class="col-sm-8"><%= f.association :categories, input_html: { class: "category" }, label_html: { class: "block_label" } %></div>
    </div>
    
    <div class="row">
      <div class="col-sm-4"><%= f.input :probability, collection: RiskRegister::RISK_PROBABILITY, prompt: "Select Probability" %></div>
      <div class="col-sm-4"><%= f.input :impact, collection: RiskRegister::RISK_IMPACT, prompt: "Select Impact" %></div>
    </div>
    
    <div class="row">
      <div class="col-md-10"><%= f.input :description %></div>
    </div>
    
    <div class="row">
      <div class="col-sm-4"><%= f.input :target_date, as: :string, placeholder: "yyyy-mm-dd", input_html: {class: "datepicker"} %></div>
      <div class="col-sm-8"><%= f.association :users, collection: @project.get_mitigator_list, input_html: { class: "risk_mitigator" },
                              label_html: { class: "block_label" }, label: "Risk Mitigators" %></div>
    </div>
    
    <div class="row">
      <div class="col-md-10"><%= f.input :mitigation_plan %></div>
    </div>
    
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('.category').multiselect();  
    $('.risk_mitigator').multiselect(); 
    $('input.datepicker').datepicker({
        format: 'yyyy-mm-dd',
			  todayHighlight: true,
			  autoclose: true,
    });
  });
</script>