<%= simple_form_for([@project, @risk_register]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :risk_no %>
    <%= f.association :categories, input_html: { class: "category" }, label_html: { class: "block_label" } %>
    <%= f.input :description %>
    <%= f.input :probability, collection: RiskRegister::RISK_PROBABILITY, prompt: "Select Probability" %>
    <%= f.input :impact, collection: RiskRegister::RISK_IMPACT, prompt: "Select Impact" %>
    <%= f.association :users, collection: User.order(:email).map {|s| [s.email, s.id]}, input_html: { class: "risk_mitigator" }, label_html: { class: "block_label" }, label: "Risk Mitigators" %>
    <%= f.input :target_date %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('.category').multiselect();  
    $('.risk_mitigator').multiselect();  
  });
</script>