<%= render 'layouts/header', title: "Risk Register" %>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'New Risk', new_project_risk_register_path(@project), class: "btn btn-primary" %>
  </div>
</div>

<div class="row" id="panel-header">
  <div class="col-sm-6 col-md-7">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= 'active' if controller.action_name == 'approved_list' %>">
        <a href="<%= project_approved_list_path %>">Approved Risks</a>
      </li>
      <li role="presentation" class="<%= 'active' if controller.action_name == 'index' %>">
        <a href="<%= project_risk_registers_path(@project) %>">Unpproved Risks</a>
      </li>
      <li role="presentation" class="<%= 'active' if controller.action_name == 'completed_list' %>">
        <a href="<%= project_completed_list_path(@project) %>">Completed Risks</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-5">
    <% if controller.action_name == 'index' %>
      <%= render 'risk_registers/search_unapproved_risk_form' %>
    <% elsif controller.action_name == 'completed_list' %>
      <%= render 'risk_registers/search_completed_risk_form' %>
    <% elsif controller.action_name == 'approved_list' %>
      <%= render 'risk_registers/search_approved_risk_form' %>
    <% end %>
  </div>
</div>

<% if controller.action_name == 'approved_list' || controller.action_name == 'completed_list' %>
  <%= render 'risk_registers/table_completed_approved_list' %>
<% elsif controller.action_name == 'index' %>
  <%= render 'risk_registers/table_unapproved_list' %>
<% end %>