<ul class="nav nav-tabs">
    <li role="presentation" class="<%= 'active' if controller.action_name == 'approved_list' %>">
        <a href="<%= project_approved_list_path %>">Approved Risks</a>
    </li>
    <li role="presentation" class="<%= 'active' if controller.action_name == 'index' %>">
        <a href="<%= project_risk_registers_path(@project) %>">Unpproved Risks</a>
    </li>
    <li role="presentation" class="<%= 'active' if controller.action_name == 'completed_list' %>">
        <a href="<%= project_completed_list_path(@project) %>">Completed Risks</a>
    </li>
</ul>