<%= render 'layouts/header', title: "Risk Register" %>

<p><%= link_to 'New Risk', new_project_risk_register_path(@project), class: "btn btn-primary" %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Risk No</th>
      <th>Project</th>
      <th>Description</th>
      <th>Probability</th>
      <th>Impact</th>
      <th>Target Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @risk_registers.each do |risk_register| %>
      <tr>
        <td><%= risk_register.risk_no %></td>
        <td><%= risk_register.project.name %></td>
        <td><%= truncate(risk_register.description, length: 180) %></td>
        <td><%= risk_register.probability %></td>
        <td><%= risk_register.impact %></td>
        <td><%= format_target_date(risk_register.target_date) %></td>
        <td>
          <%= link_to 'Show', project_risk_register_path(@project, risk_register) %>&nbsp;
          <%= link_to 'Edit', edit_project_risk_register_path(@project, risk_register) %>&nbsp;
          <%= link_to 'Delete', project_risk_register_path(@project, risk_register), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

