<p id="notice"><%= notice %></p>

<p>
  <strong>Risk no:</strong>
  <%= @risk_register.risk_no %>
</p>

<p>
  <strong>Project:</strong>
  <%= @risk_register.project.name %>
</p>

<p>
  <strong>Category:</strong>
  <% @risk_register.categories.each do |category| %>
    <%= category.name %>,
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @risk_register.description %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @risk_register.probability %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @risk_register.impact %>
</p>

<p>
  <strong>Target date:</strong>
  <%= @risk_register.target_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @risk_register.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @risk_register.creator.email %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @risk_register.updator.email if @risk_register.updator %>
</p>

<p>
  <strong>Risk Mitigators:</strong>
  <% @risk_register.users.each do |user| %>
    <%= user.email %>,
  <% end %>
</p>

<%= link_to 'Edit', edit_project_risk_register_path(@project, @risk_register) %> |
<%= link_to 'Back', project_risk_registers_path(@project) %>
