<%= render 'layouts/header', title: "Show Risk" %>

<p>
  <strong>Risk no:</strong>
  <%= @risk_register.risk_no %>
</p>

<p>
  <strong>Project:</strong>
  <%= @risk_register.project.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= append_category_names(@risk_register.categories) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @risk_register.description %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @risk_register.probability %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @risk_register.impact %>
</p>

<p>
  <strong>Target date:</strong>
  <%= format_target_date(@risk_register.target_date) %>
</p>

<p>
  <strong>Status:</strong>
  <%= mitigation_status(@risk_register) %>
</p>

<p>
  <strong>Responsible Officer:</strong>
  <%= @risk_register.responsible_officer %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @risk_register.creator.email %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @risk_register.updator.email if @risk_register.updator %>
</p>

<p>
  <strong>Risk Mitigators:</strong>
  <%= append_mitigator_emails(@risk_register.users) %>
</p>

<p>
  <strong>Mitigation Plan:</strong>
  <%= @risk_register.mitigation_plan %>
</p>

<%= link_to 'Edit', edit_project_risk_register_path(@project, @risk_register) %> |
<%= link_to 'Back', project_risk_registers_path(@project) %>
