<%= render 'layouts/header', title: "Show Risk" %>

<% if !@risk_register.approved? %>
  <% if admin_or_risk_manager? %>
    <div class="row">
      <div class="col-sm-12"><%= link_to 'Approve', project_approve_risk_register_path(@project, risk_no: @risk_register.id), class: "btn btn-primary" %></div>
    </div>
  <% end %>
<% end %>

<div id="general_info" class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">General Info</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2"><span class="name">Risk No</span></div>
          <div class="col-sm-2"><span class="name">Probability</span></div>
          <div class="col-sm-2"><span class="name">Project</span></div>
          <div class="col-sm-2"><span class="name">Impact</span></div>
          <div class="col-sm-2"><span class="name">Target Date</span></div>
          <div class="col-sm-2"><span class="name">Status</span></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= @risk_register.risk_no %></div>
          <div class="col-sm-2"><%= @risk_register.probability %></div>
          <div class="col-sm-2"><%= @risk_register.project.name %></div>
          <div class="col-sm-2"><%= @risk_register.impact %></div>
          <div class="col-sm-2"><%= format_target_date(@risk_register.target_date) %></div>
          <div class="col-sm-2"><%= mitigation_status(@risk_register) %></div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">User Info</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2"><span class="name">Responsible Officer</span></div>
          <div class="col-sm-2"><span class="name">Approved Date</span></div>
          <div class="col-sm-2"><span class="name">Approved by</span></div>
          <div class="col-sm-3"><span class="name">Created by</span></div>
          <div class="col-sm-3"><span class="name">Updated by</span></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= @risk_register.responsible_officer %></div>
          <div class="col-sm-2"><%= format_target_date(@risk_register.approved_date) %></div>
          <div class="col-sm-2"><%= user_info(@risk_register.approver) %></div>
          <div class="col-sm-3"><%= user_info(@risk_register.creator) %></div>
          <div class="col-sm-3"><%= user_info(@risk_register.updator) %></div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">Risk Detail</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2"><span class="name">Categories:</span></div>
          <div class="col-sm-10"><%= append_category_names(@risk_register.categories) %></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><span class="name">Risk Description:</span></div>
          <div class="col-sm-10"><%= @risk_register.description %></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><span class="name">Mitigators:</span></div>
          <div class="col-sm-10"><%= append_mitigator_emails(@risk_register.users) %></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><span class="name">Mitigation Plan:</span></div>
          <div class="col-sm-10"><%= @risk_register.mitigation_plan %></div>
        </div>
      </div>
    </div>
  </div>
</div>
