<p>50% mitigation period is over. Please ensure the Risk <%= @risk.risk_no %> is mitigated on time.</p>

<div>
    <strong>Target Date:</strong> <%= format_target_date(@risk.target_date) %><br/>
    <strong>Category:</strong> <%= append_category_names(@risk.categories) %><br>
    <strong>Impact:</strong> <%= @risk.impact %><br>
    <strong>Probability:</strong> <%= @risk.probability %><br>
</div>
