<p>A new risk has been created for <%= @risk_register.project.name %>. Please visit NEEPCO Risk Management site to check it.</p>
<div>
    <strong>Risk No:</strong> <%= @risk_register.risk_no %>.<br>
    <strong>Category:</strong> <%= append_category_names(@risk_register.categories) %><br>
    <strong>Impact:</strong> <%= @risk_register.impact %><br>
    <strong>Probability:</strong> <%= @risk_register.probability %>
</div>