<p id="notice"><%= notice %></p>

<p>
  <strong>Risk register:</strong>
  <%= @risk_responsibility.risk_register %>
</p>

<p>
  <strong>User:</strong>
  <%= @risk_responsibility.user %>
</p>

<%= link_to 'Edit', edit_risk_responsibility_path(@risk_responsibility) %> |
<%= link_to 'Back', risk_responsibilities_path %>
