<%= render 'layouts/header', title: "Categories" %>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Edit', edit_category_path(category) %>&nbsp;
          <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
