<div class="row">
  <div class="col-md-8">
    <%= render 'layouts/header', title: "Categories" %>
    
    <p><%= link_to 'New Category', new_category_path, class: "btn btn-primary" %></p>
    
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-sm-9">Name</th>
          <th class="col-sm-3">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
              <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_category_path(category) %>&nbsp;
              <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>

    



