<%= render 'layouts/header', title: "Risk Assignments" %>

<div class="row">
  <div class="col-sm-6 col-md-5">
    <%= form_tag get_risks_path, :method => 'get' do %>
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <%= text_field_tag :risk_no,
                params[:risk_no], class: "form-control",
                placeholder: "Risk No" %>
        </div>
        <div class="col-sm-4 col-md-6">
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br/>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="col-sm-1">Risk No</th>
      <th class="col-sm-7">Risk Description</th>
      <th class="col-sm-1">Target Date</th>
      <th class="col-sm-1">Status</th>
      <th class="col-sm-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @risk_registers.each do |risk_register| %>
      <tr>
        <td><%= risk_register.risk_no %></td>
        <td><%= truncate(risk_register.description, length: 180) %></td>
        <td><%= format_target_date(risk_register.target_date) %></td>
        <td><span class="<%= mitigation_status_class(risk_register) %> status"><%= mitigation_status(risk_register) %></span></td>
        <td><%= link_to "<i class='fa fa-info-circle'></i> Mitigation Steps".html_safe, risk_register_risk_mitigations_path(risk_register) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


