<%= render 'layouts/header', title: "Risk Assignments" %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="col-sm-1">Risk No</th>
      <th class="col-sm-7">Risk Description</th>
      <th class="col-sm-1">Target Date</th>
      <th class="col-sm-1">Status</th>
      <th class="col-sm-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @risk_registers.each do |risk_register| %>
      <tr>
        <td><%= risk_register.risk_no %></td>
        <td><%= truncate(risk_register.description, length: 180) %></td>
        <td><%= format_target_date(risk_register.target_date) %></td>
        <td><span class="<%= mitigation_status_class(risk_register) %> status"><%= mitigation_status(risk_register) %></span></td>
        <td><%= link_to "<i class='fa fa-info-circle'></i> Mitigation Steps".html_safe, risk_register_risk_mitigations_path(risk_register) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


