<h1>Listing Risks, <%= current_user.project.name %></h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Risk No</th>
      <th>Risk Description</th>
      <th>Target Date</th>
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @risk_registers.each do |risk_register| %>
      <tr>
        <td><%= risk_register.risk_no %></td>
        <td><%= truncate(risk_register.description, length: 200) %></td>
        <td><%= format_target_date(risk_register.target_date) %></td>
        <td><%= link_to "Mitigation Steps", risk_register_risk_mitigations_path(risk_register) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


