<h3>Risk No <%= @risk_register.risk_no %></h3>
<p><strong>Category:</strong> <%= append_category_names(@risk_register.categories) %></p>
<p><strong>Impact:</strong> <%= @risk_register.impact %></p>
<p><strong>Probability:</strong> <%= @risk_register.probability %></p>
<p><strong>Target Date:</strong> <%= format_target_date(@risk_register.target_date) %></p>
<p><strong>Description:</strong> <%= @risk_register.description %></p>
<h3>Mitigation Steps</h3>
<p><strong>Mitigators:</strong> <%= append_mitigator_names(@risk_register.users) %></p>
<ol>
  <% @risk_mitigations.each do |risk_mitigation| %>
  <li><%= risk_mitigation.mitigation_step %></li>
  <% end %>
</ol>