<%= render 'layouts/header', title: "Risk Mitigation Steps" %>

<div class="row" id="button-row">
  <div class="col-sm-12">
    <%= link_to "Add Mitigation", new_risk_register_risk_mitigation_path, class: "btn btn-primary btn-sm show-btn" %>
    <%= link_to "Change Status", risk_register_update_status_path(@risk_register), 
              id: "update_status", class: "#{button_class(@risk_register)}", remote: :true %>
  </div>            
</div>

<div id="general_info" class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">General Info</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2"><span class="name">Risk No</span></div>
          <div class="col-sm-2"><span class="name">Project</span></div>
          <div class="col-sm-2"><span class="name">Probability</span></div>
          <div class="col-sm-2"><span class="name">Impact</span></div>
          <div class="col-sm-2"><span class="name">Target Date</span></div>
          <div class="col-sm-2"><span class="name">Status</span></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><%= @risk_register.risk_no %></div>
          <div class="col-sm-2"><%= @risk_register.project.name %></div>
          <div class="col-sm-2"><%= @risk_register.probability %></div>
          <div class="col-sm-2"><%= @risk_register.impact %></div>
          <div class="col-sm-2"><%= format_target_date(@risk_register.target_date) %></div>
          <div class="col-sm-2"><span class="<%= mitigation_status_class(@risk_register) %>" id="status"><%= mitigation_status(@risk_register) %></span></div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default risk_detail">
      <div class="panel-heading">Risk Detail</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2"><span class="name">Categories:</span></div>
          <div class="col-sm-10">
            <ul class="nav">
              <% @risk_register.categories.each do |category| %>
                <span class="label label-default"><%= category.name %></span>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><span class="name">Risk Description:</span></div>
          <div class="col-sm-10"><%= @risk_register.description %></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><span class="name">Mitigation Plan:</span></div>
          <div class="col-sm-10"><%= @risk_register.mitigation_plan %></div>
        </div>
        <div class="row">
          <div class="col-sm-2"><span class="name">Risk Mitigators:</span></div>
          <div class="col-sm-10">
            <ol>
              <% @risk_register.users.each do |user| %>
                <li><%= user_info(user) + ", " + user.email %></li>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
    
    <% if @risk_register.risk_mitigations.count > 0 %>
      <div class="panel panel-default mitigation_step" >
        <div class="panel-heading">Mitigation Steps</div>
        <div class="panel-body">
          <ol>
            <% @risk_register.risk_mitigations.each do |mitigation| %>
              <li>
                <div><%= mitigation.mitigation_step %></div>
                <div id="mitigation-actions">
                  <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, 
                        edit_risk_register_risk_mitigation_path(@risk_register, mitigation), 
                            class: "btn btn-warning btn-xs show-btn" %>
                  <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, 
                        risk_register_risk_mitigation_path(@risk_register, mitigation), 
                            method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs show-btn" %>
                </div>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  <% if @risk_register.status? %>
    $('.show-btn').hide();
  <% end %>
</script>

