<%= render 'layouts/header', title: "Risk Mitigation Steps" %>
<p><div class="row">
  <div class="col-sm-2"><strong>Risk No:</strong> <%= @risk_register.risk_no %></div>
  <div class="col-sm-2"><strong>Impact:</strong> <%= @risk_register.impact %></div>
  <div class="col-sm-2"><strong>Probability:</strong> <%= @risk_register.probability %></div>
  <div class="col-sm-4"><strong>Target Date:</strong> <%= format_target_date(@risk_register.target_date) %></div>
</div></p>
<p><strong>Category:</strong> <%= append_category_names(@risk_register.categories) %></p>
<p><strong>Description:</strong> <%= @risk_register.description %></p>
<p><strong>Mitigation Plan:</strong> <%= @risk_register.mitigation_plan %></p>

<p>
  <strong>Status:</strong>&nbsp;
  <%= link_to mitigation_status(@risk_register), update_status_path(risk_register_id: @risk_register.id), 
              id: "update_status", class: "#{button_class(@risk_register)}", remote: :true %>
</p>

<h3>Mitigation Steps</h3>
<p><strong>Mitigators:</strong> <%= append_mitigator_emails(@risk_register.users) %></p>
<p><%= link_to "Add Mitigations", new_risk_register_risk_mitigation_path, class: "btn btn-primary" %></p>
<ol id="mitigation_steps">
  <% @risk_mitigations.each do |risk_mitigation| %>
  <div class="row">
    <li>
      <div class="col-sm-10"><%= risk_mitigation.mitigation_step %></div>
      <div class="col-sm-2">
        <%= link_to "Edit", edit_risk_register_risk_mitigation_path(@risk_register, risk_mitigation) %>&nbsp;
        <%= link_to "Delete", risk_register_risk_mitigation_path(@risk_register, risk_mitigation),
                     method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  </div>  
  <% end %>
</ol>